@import "css-generics";
@import "./model/**/*.css"; /* handled at build time by postcss-easy-import */

body {
	background-color: #262525;
	display: grid;
	place-content: center;
	place-items: center;
	height: 100vh;
	font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
	color: #ddd;
}
